<!DOCTYPE html>
<html lang="ru">
<head>
    {{> head }}
</head>
<body>
    <div id="page-preloader" class="preloader">
        <div class="preloader-border">
            <div class="loader"></div>
        </div> 
    </div>
    <div class="overlay"></div>
    {{>sprite}}
    {{>header}}
    
    {{index.html}}
    
    {{>body }}

    {{>footer}}
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

<script src="assets/js/app.min.js"></script>


<script>
    // Initialize and add the map
    function initMap() {
      // The location of Uluru
      var uluru = {lat: 59.9363373, lng: 30.338335};
      // The map, centered at Uluru
      var map = new google.maps.Map(
          document.getElementById('map'), {zoom: 11.79, center: uluru});
      // The marker, positioned at Uluru
      var marker = new google.maps.Marker({position: uluru, map: map});
    }
        </script>

<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDKqqPAmi8fo6tzLv-VKAEPXPs9LJZiIuA&callback=initMap">
</script>
</body>
</html>