<footer class="footer">
    <div class="container">

        <div class="footer__inner">

            <div class="footer__intro">
                    <img src="/assets/img/logo.png" alt="" class="footer__logo">
            </div>

            <div class="footer__intro">
                <div class="footer__address ru">123456, Санкт-Петербург, Невский пр-кт 127</div>
                <div class="footer__address en">123456, St. Petersburg, Nevsky Prospect 127</div>
                <div class="footer__address fr">123456, Saint-Pétersbourg, Nevsky Prospect 127</div>
                <a href="mailto:sales@log.ru" class="footer__email">sales@log.ru</a>
            </div>

            <div class="footer__intro">
                <div class="footer__number">+7 (812) 344-56-65</div>
                <div class="footer__number">+7 (812) 355-56-65</div>
           </div>

       </div><!-- ./footer__inner -->

    </div> <!-- ./container -->
</footer>