<div class="overlay"></div>
<div class="header">
<div class="header__line">
    <div class="header__line__block">
        <span class="lang active">РУС</span>
        <span class="lang">ENG</span>
        <span class="lang">FR</span>
    </div>
    <div class="header__line__block">
        <span class="number">8 (800) 123-45-67</span>
    </div>
    <div class="header__line__block">sales@log.ru</div>
</div>
<!-- Header gold line -->

<div class="header__menu__wrapper">
    <div class="header__menu">
        <div class="header__menu--left">
            <div class="header__menu__company" ><a class="logo" href="#logo"><img src="/assets/img/logo.png" ></a></div>
            <div class="header__menu--line"></div>
            <div class="header__menu--logo"><img src="/assets/img/placeholder.png"></div>
            <div class="header__menu--text ru"><a href="#">Наши офисы</a></div>
            <div class="header__menu--text en"><a href="#">Ours office</a></div>
            <div class="header__menu--text fr"><a href="#">Nos bureaux</a></div>
        </div>

        <div class="humburger"><div class="humburger__icon"><img src="/assets/img/hum.png"></div></div>
        <div class="header__menu--right">
            <ul class="ul__menu">
                <li class="li__menu ru" data-target="anchor"><a class="nav" href="#services">УСЛУГИ</a></li>
                <li class="li__menu en" data-target="anchor"><a class="nav" href="#services">Services</a></li>
                <li class="li__menu fr" data-target="anchor"><a class="nav" href="#services">LES SERVICES</a></li>
                <li class="li__menu ru" data-target="anchor"><a class="nav" href="#about">О КОМПАНИИ</a></li>
                <li class="li__menu en" data-target="anchor"><a class="nav" href="#about">About</a></li>
                <li class="li__menu fr" data-target="anchor"><a class="nav" href="#about">Sur</a></li>
                <li class="li__menu ru" data-target="anchor"><a class="nav" href="#vacancies">ВАКАНСИИ</a></li>
                <li class="li__menu en" data-target="anchor"><a class="nav" href="#vacancies">Vacancies</a></li>
                <li class="li__menu fr" data-target="anchor"><a class="nav" href="#vacancies">VACANCES</a></li>
                <li class="li__menu ru" data-target="anchor"><a class="nav" href="#contacts">КОНТАКТЫ</a></li>
                <li class="li__menu en" data-target="anchor"><a class="nav" href="#contacts">Contacts</a></li>
                <li class="li__menu fr" data-target="anchor"><a class="nav" href="#contacts">Contacts</a></li>
            </ul>
        </div>
    </div>
</div>
</div>
<!-- header menu -->

<div class="header__content" id="logo">      
    <div class="header__content__wrapper">
        <h1 class="header__content__h ru">грузовые перевозки</h1>
        <h1 class="header__content__h en">freight transportation</h1>
        <h1 class="header__content__h fr">transport de marchandises</h1>
        <p class="header__content__p ru">Перевозка крупногабаритных грузов по России и Европе. Полное экспедирование, страхование, упаковка и хранение грузов</p>
        <p class="header__content__p en">Transportation of bulky goods in Russia and Europe. Full freight forwarding, insurance, packaging and storage of goods</p>
        <p class="header__content__p fr">Transport de marchandises volumineuses en Russie et en Europe. Expédition complète de fret, assurance, emballage et stockage des marchandises</p>
    </div>
</div>
<!-- header content -->

<div class="container__track">
    <div class="container__track__left"></div>
    <div class="container__track__right"></div>

    <div class="container__track__blocks">

    <div class="container__track__block1">
        <div class="container__track__line"></div>
        <h1 class="container__track__h ru">грузоперевозки по европе</h1>
        <h1 class="container__track__h en">trucking in europe</h1>
        <h1 class="container__track__h fr">camionnage en europe</h1>
        <p class="container__track__p ru">Страны Евросоюза, а также Украина, Белоруссия со всеми документами.</p>
        <p class="container__track__p en">The countries of the European Union, as well as Ukraine, Belarus with all documents.</p>
        <p class="container__track__p fr">Les pays de l'Union européenne, ainsi que l'Ukraine, la Biélorussie avec tous les documents.</p>
        <a href="" class="ru"><button class="container__track__btn">подробнее</button></a>
        <a href="" class="en"><button class="container__track__btn">more</button></a>
        <a href="" class="fr"><button class="container__track__btn">détails</button></a>
        
        
        <div class="modal">
            <div class="close">&times;</div>
            <div class="modal__header">
                <h2 class="modal__h2">Свяжитесь с нами</h2>
            </div>
            <div class="modal__container">
                <div class="modal__text">
                    <div class="modal__number">+7 (812) 344-56-65</div>
                    <div class="modal__number">+7 (812) 355-56-65</div>
                </div>
                <div class="modal__track"></div>
            </div>
        </div>
        
        
    </div>

    <div class="container__track__block2">
        <div class="container__track__img "></div>
        <div class="container__track__img"></div>
        <div class="container__track__img"></div>
    </div>

    <div class="container__track__block3">
        <div class="container__track__next"><img src="/assets/img/services__next.png"></div>
        <div class="container__track__prev"><img src="/assets/img/services__back.png"></div>
    </div>
</div>
</div>
<!-- Content track -->

<div class="button__up"><div class="arrow"></div></div>