$gold: #C8A35F;
$gold-light: rgba(200, 163, 95, 0.603);
$dark: #2F343A;
$dark-light: #393F47;


/* Media */
$shadow: 0 0 25px rgba(0,0,0,.05);
$blue: #2F343A;
$white: #fff;
$yellow: #C8A35F;
$gray: #393F47;
$black: #000000;

$tv: (max-width:1799px);
$xl: (max-width:1199px);
$lg: (max-width:991px);
$md: (max-width:767px);
$sm: (max-width:575px);
$sm: (max-width:575px);
